.app__skills {
  padding-top: 150px;
  padding-bottom: 150px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h1 {
    padding-bottom: 40px;
    @media screen and (max-width: 768px) {
      padding-bottom: 10px;
    }
  }

  .app__skills-inner {
    @media screen and (max-width: 768px) {
      display: flow;
      padding: 15px;
    }

    .app__skills-logos {
      display: grid;
      justify-content: center;
      grid-template-columns: 80px 80px 80px;
      grid-template-rows: 80px 80px 80px 80px;
      grid-gap: 70px;
      width: 50%;
      padding: 20px 0px 50px 0;

      @media screen and (max-width: 768px) {
        justify-content: center;
        grid-template-columns: 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px;
        // grid-gap: 50px;
        width: 100%;
        padding-bottom: 50px;
      }

      .app__skills-item {
        width: 90px;
        height: 90px;
        border-radius: 50%;

        @media screen and (max-width: 768px) {
          width: 70px;
          height: 70px;
        }

        &:hover {
          box-shadow: 0 0 25px #fef4f5;
        }

        .app__skills-icon {
          padding: 15px;
          width: 90px;
          height: 90px;

          @media screen and (max-width: 768px) {
            padding: 15px;
            width: 70px;
            height: 70px;
          }
        }
      }
    }

    .app__skills-experiences {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .app__skills-experiences-inner {
        display: flex;
        margin-top: 40px;
        padding-right: 100px;
        color: var(--white-color);

        @media screen and (max-width: 768px) {
          display: block;
          padding-right: 0px;
        }

        .app__skills-experiences-year {
          h3 {
            width: 160px;
            color: var(--secondary-color);
            @media screen and (max-width: 768px) {
              width: 100%px;
            }
          }
        }

        .app__skills-experiences-info {
          h3 {
            color: var(--secondary-color);
            @media screen and (max-width: 768px) {
              padding-top: 10px;
              width: 100%;
            }
          }
          p {
            padding-top: 20px;
          }
        }
      }
    }
  }
}
